.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto 0px;
  padding: 0 15px 3px;
  text-align: start;
  background-color: rgb(22 22 22 / 50%);
  border-radius: 4px;
}
